img {
    width: 35px;
    ;
}

td,
th {
    border: 3px solid grey;
    font-size: 15px;
    padding: 0px;

}

div {
    margin-left: 50px;
}

table {
    border-collapse: collapse;
}